<div class="container">
	<div class="indexer">
<%= form_tag index_path,:method => :get do %>
  <p>
  <%= text_field_tag :search,params[:search] ,:class => "search_first" ,:placeholder => "输入药名、厂家、治疗症状等"%>
  <%= submit_tag "search",:name => nil ,:class => "btn btn-primary"%>
<% end %>
<ul>
    <label>找到约###个结果</label>
</ul>
</div>
</div>