<div class="row-fluid" style="margin-top:60px">
	<div class="span2 ">
		<!--<%= yield :inform_index %> 
		<%= link_to 'New Inform', new_inform_path %> -->
		<!--Sidebar content-->
		<ul class="nav nav-tabs nav-stacked" >
			<li><a href="#">新闻</a></li>
			<li><a href="/topics">话题</a></li>
			<li><a href="/users">会员</a></li>
		</ul>
	</div>
	<div class="span10" >
		<div class="abouttxt-head">
			<h3>今天你是否健康了?</h3>
			<p >WHO十项健康指标</p><br>
			</div>
			<div id= "scrollBox2" >
				处世乐观，态度积极。乐于承担任务，不挑剔；<br>
				良好的休息习惯，睡眠良好；<br>
				应变能力强，能适应各种环境变化；<br>
				对一般感冒和传染病有一定的抵抗力；<br>
				体重适当，体态均匀，身体各部位比例协调；<br>
				眼睛明亮，反应敏锐，眼睑不发炎；<br>
				牙齿洁白，无缺损，无疼痛感，牙龈正常，无蛀牙；<br>
				头发光洁，无头屑；<br>
				肌肤有光泽，有弹性，走路轻松，有活力。<br>
				足趾活动性好，足弓弹性好，肌肉平衡能力好，脚且没有疼痛、没有拇外翻。<br>
			</div>
			<div class="row" style="margin-top:30px">
				<div class="span5">
					<blockquote class="pull-right">
						<p>健康是指人在身体、精神和社会方面处于良好的状态。
							<ul>
							<li>"圣人不治已病，治未病，不治已乱，治未乱，此之谓也"</li>
							<li>亚健康，即指非病非健康状态,多于个人饮食、运动、心理等因素有关</li>
							<li>“消未起之患，治病之疾，医之于无事之前”</li>
							</ul>
					</blockquote>
				</div>
				<div class="span6 ">
					<blockquote >
						<p><strong>Peck</strong>是一个关注生活健康的医疗服务网站。
							<ul>
							<li><strong>Peck</strong>从饮食、运动、心理、疾病方面，提供健康信息，远离亚健康，远离疾病，指引健康生活</li>
							<li><strong>Peck</strong>通过高效、人性化的症状搜索引擎，提供给您充分、有用的疾病信息</li>
							<li><strong>Peck</strong>提供为您提供交流平台，分享你我他的健康tips</li>
							</ul>
							<small><cite title="">Wilxn Wang</cite></small>
					</blockquote>
				</div>
			</div>
			<div class="row" id="intro">
				<p><strong>Peck</strong>,英文意思为“啄食”，名词意思就是啄木鸟。<br><br>取名<strong>Peck</strong>，意在指出：<strong>Peck</strong>像啄木鸟看护森林一样来看护人类的健康。引导您远离亚健康、疾病问题，健康生活。</p>
			</div>
			<!-- <video controls src="/assets/video-health.mp4" style="margin-left:100px"></video>-->
		<!--Body content-->
	</div>
</div>