<html>
	<style>
		.container h2{
			color: #F26;
			text-align:20px;
			margin-left:20px;
			text-shadow:green 10px,5px,5px;
		}
		
		.container li{
			color:#F0F;
		}
		.container p{
			color:#D9B;
			font-size:130%;
			font-weight:700;
			font:圆体;
		}
		.container label{
			color:#4F4;
		}
		.container h1{
			color:#282;
			background:#9A9;
			padding-top:10px;
			padding-bottom:10px;
			border-bottom:2px solid;
			text-align:center;
			font-style:italic;
			font-size:300%;
			text-shadow:green 10px,5px,5px;
		}
		.container h4{
			color:#00F;
		}
	</style>
	<head>
		<title>contact us</title>
	</head>
	<body>
		<div class="container">	
		<h2>BACKGROUND<strong>:</strong></h2>
		<ul class="problems"> 
		<li>医患纠纷越来越困扰着和谐社会的发展</li>
		<li>广大人们对医疗方面缺乏认识</li>
		<li>亚健康困扰着越来越多的人</li>
	</ul>
		<h2>我们</h2>
		<p>一群积极、热情的年轻人，</p>
		<ul class="member"> 
			<li>王欣</li>
			<li>张风铃</li>
			<li>孙新晨</li>
			<li>孟凡坤</li>
			<li>黄志勇</li></ul>
			<h2>我们的产品<strong>:</strong></h2>
			<h1>PECK</h1>
		<p>像森林的啄木鸟一样，关爱人类健康。<p>
		<h2>我们的目的<strong>:</strong></h2>
		<h4>希望通过这样的一个网站，让医生和患者之间更加和谐，也让每一个健康或处于亚健康的人，从饮食、运动、心理等方面关注健康，了解健康知识。</h4>
		<h2>联系我们</h2>
		<label >EMAIL：</label>wlx@freestorm.org
	</div>
	</body>
</html>

