<div class="container">
	<div class="diagnose">
		<h2></h2>
		<%= form_tag indexer_path,:method => :get do %>
		<p>
			<%= text_field_tag :search,params[:search] , :id => "search_first"  %>
			<%= submit_tag "search",:name => nil ,:id => "search_first_submit"%>
		</p>
		<% end %>
	</div>
</div>  