<html>
	<head>
		<style>
		 h1{
				color:#F26;
				font-style:italic;
				font-size:200
			}
			.doctor-ul li{
				color:#5F2;
				font-family:fantasy;
				font-style:italic;
				font-size:120%;
				text-shadow:green 10px,5px,5px;
			}
		</style>
		<title>doctor</title>
	</head>
	<body>
		<div class="container">
			<h1>This is the infomation of doctor XX</h1>
		<ul class="doctor-ul">
		<li>简介</li>
		<li>擅长</li>
		<li>出诊表</li>
		<li>他人评价</li>
		<li>我来评价</li>
		<li>同专长其他医生</li>
	</ul>
</div>
	</body>
</html>
