<style>
	.evaluate a{
		font-size:150%;
		color:#5F2;
	}
</style>
<center>
<div class="container">
	<form>
		<select name="province" id="province">
			<option value="1">江苏省</option>
			<option value="2">安徽省</option>
			<option value="3">浙江省</option>
		</select>
		<select name="city" id="city">
			<option value="1">南京市</option>
			<option value="2">无锡市</option>
			<option value="3">苏州市</option>
			<option value="4">常州市</option>
		</select>
		<select name="district" id="district">
	     		<option value="1" selected>江宁区</option>
		          <option value="2">白下区</option>
     		     	<option value="3">下关区</option>
			<option value="4">玄武区</option>
			<option value="5">秦淮区</option>
			<option value="6">建邺区</option>
			<option value="7">鼓楼区</option>
			<option value="8">浦口区</option>
			<option value="9">栖霞区</option>
   			<option value="10">雨花台区</option>
			<option value="11">六合区</option>
		 </select>
		 <select name="hospital" id="hospital">
			<option value="1">同仁医院</option>
		</select>
		<select name="division" id="division">
			<option value="1">儿科</option>
			<option value="2">皮肤科</option>
			<option value="3">眼科</option>
			<option value="4">骨科</option>
			<option value="5">妇科</option>
			<option value="6">鼻喉科</option>
		</select>
		<select name="doctor" id="doctor">
			<option value="1">张三</option>
                   		<option value="2">李四</option>
		</select>
	</form>
	<div class="evaluate">
		<a href = "/users/doctor">查看他人对此医生的评价</a> <br/>
		<a href = "/users/doctor">我来评价此医生</a>
	</div>
</div>
</center>s