<div class="continer">
	<div id="side">
		<%= yield :inform_index %> 
		<%= link_to 'New Inform', new_inform_path %>
	</div>
	<div id="index-main">
		<div id="abouttxt">
			<p style="margin-right:20px padding-top =20px">
			<div class="abouttxt-head">
			<h3>今天你是否健康了?</h3>
			<p >WHO十项健康指标</p><br>
			</div>
			<div id= "scrollBox2" >
				处世乐观，态度积极。乐于承担任务，不挑剔；<br>
				良好的休息习惯，睡眠良好；<br>
				应变能力强，能适应各种环境变化；<br>
				对一般感冒和传染病有一定的抵抗力；<br>
				体重适当，体态均匀，身体各部位比例协调；<br>
				眼睛明亮，反应敏锐，眼睑不发炎；<br>
				牙齿洁白，无缺损，无疼痛感，牙龈正常，无蛀牙；<br>
				头发光洁，无头屑；<br>
				肌肤有光泽，有弹性，走路轻松，有活力。<br>
				足趾活动性好，足弓弹性好，肌肉平衡能力好，脚且没有疼痛、没有拇外翻。<br>
			</div>
			</p>
		</div>
		<div id="aboutvideo">
			<video controls src="/images/video-health.mp4" ></video>
		</div>
		
	</div>
	<div class="clear"></div>
</div>
