<html>
	<head>
		<script src="register.js" type="text/javascript"></script>
		<style>
			div.lable{
				float:left;
				margin-left:20;
				margin-right:5px;
				width:100;
				text-align:right;
			}
			form{
				margin-left:200px;
				margin-right:200px;
				border:1px solid blue;
			}
	</head>
	<body>
		<div id="main">
			<center>
			<div class="clear"></div>
			<div id= "registerbody">
				<form name="register" method="post" action="register.asp" onsubmit="return validate(this)">
					<h2 id="registerhead">Peck 用户登入</h2>
					<div class = "lable"><label for="name">用户名:</label></div>
					<div class="formelement">
						<input type="text" class="required" name="name" size=30 id="name" placeholder="请输入用户名">
					</div>
					<div class="clear"></div>
					<div class="lable"><label for="password">密码：</label></div>
					<div class="formelement">
						<input type="password" class="required" name="password" size=30 id="password" placeholder="请输入密码"/>
					</div>
					<div class="clear"></div>
					<div class="formelement" style="margin-left:200px;">
						<input type="submit" name="submit" value="提交注册" size=30 id="submit" />
					</div>
					<div class="clear"></div>
				</form>
			</div>
		</center>
		</div>
	</body>
</html>

