body{
	background-color: #EEEEFF;
	border-left-style: solid ;
	border-right-style: solid ;
	border-color:rgba(60,0,0,0.2);
	border-width: 2.5px;
	border-radius: 15px;
	width:1000px;
	padding-bottom: 5em;
	margin:50px auto 0;	
	margin-top: 0px;
	box-shadow: 5px 7px 10px rgba(0,0,0,0.6)


}
#main{
	width:1300;
}
#mainname{
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-image: url("/images/bk_header.jpg");
	background-attachment: scroll;
	background-repeat: repeat-x;
}
h1#mainname a{
	color: #003376;
	text-decoration: none;
	font-family: "宋体";
}
h1#mainname .mainhref{
	float: right;
	margin-right: 200px;
	margin-top: 50px;
}
#navigation{
	float: left;
	background-attachment: scroll;
	background-color: #CEFFDE;
	background-repeat: repeat-x;
	margin-top: 2px;
}
div.all-body{
	background-color: #FFF9F9;
}
li.nav{
	float: left;
	list-style: none;
	width: 136px;
	height: 36px;
	text-align: center;
	color: green;
	padding-top: 5px;
	background-image: url("/images/nav.jgp");
	background-attachment: scroll;
	background-repeat: repeat-x;
}
li a{
	text-decoration: none;
}
li.nav:hover{
	background-color: #9F99FF;
	background-attachment:scroll;
	border-radius: 8px;
}

.content{
	background-color: #F4FFFF;
	width: 800px;
	border-radius: 12px;
	box-shadow: 6px 6px 6px rgba(0,0,0,6);
}
.content ul{
	width:760px;
	height:500px;
	list-style:none;
}
div#indx-body{
	margin-bottom:5px;
}
div#index-main{
	
	float: right;
	border:1px solid yellow;
	word-break:break-all;
	width:780px;
	font-weight: large;
	font-size: 20px;
	line-height: 20px;
	color:blue;
	font-family: 宋体;

}
li#aboutimg{
	float: left;
	text-align: center;
	width: 400px;
	height: 300px;
	margin-left: 100px;
}

div#aboutvideo{
	width: 600px;
	height: 500px;
	border-radius: 12px;
	border-style: bolid blue;
	margin-left: 100px;
}
div#side{
	float: left;
	width: 12em;
	background-color: #CCDDFF;
	padding-bottom: 12em;
	padding-top: 1em;
	padding-left: 1em;
}
div.clear{
	clear:both;
}
img.cur-hide{
	display: none;
}
.menu{
	width:800px;
	height:34px;
}
.menu-ul{
	list-style:none;
	width:720px;
	height:34px;
	margin:0 auto;
}
.menu li{
	background:url("/images/header_tabs.png") repeat-x;
	background-position:214px 0;
	display:block;
	float:left;
	width:215px;
	height:34px;
	cursor:pointer;
}
.menu span{
	font:bold 22px Verdana,Geneva,sans-serif;
	color:#FFE;
	display:block;
	line-height:34px;
	text-align:center;
	text-shadow:2px 2px 2px #555;
	letter-spacing:4px;
}
.current span{
	color:#000;
	background:#4F2;
	border-radius:12px;
	text-shadow:2px 2px 2px #FFF;
}
.container{
	width:800px;
	height:534px;
	margin:50px auto 0;
}


div#footer{
	text-align: center;
	margin-bottom: 3px;
}
div.edit-man-doctor{
        width: 500px;
        margin-left: 300px;
}

div#register_form{
        width: 500px;
}
#scrollBox2{
	font-size:21px;
	width:500px;
	color:#0000CC;
	font-weight:600;
	line-height:22px;
	height:66px;
	overflow:hidden;
	text-align:left;
	margin-left: 120px;
	border-style: double;
	border-color: #CC99FF;
}
div.abouttxt-head h3{
	font-size:22px;
	text-indent: 10em;
}
div.abouttxt-head p{
	font-size:15px;
	text-indent: 20em;
}
div.healthtext{
	margin-bottom: 20px;
}
div.display-tips{
	color:red;
}
div.hide-tips{
	display:none;
}
div.content-body{
	margin-left: 100px;
}
div.content-body .show_image{
	height: 100px;
	width: 100px;
}