body{
	background-color: #EEEEFF;
	border-left-style: solid ;
	border-right-style: solid ;
	border-color:rgba(60,0,0,0.2);
	border-width: 2.5px;
	border-radius: 15px;
	width:1000px;
	padding-bottom: 5em;
	margin:50px auto 0;	
	margin-top: 0px;
	box-shadow: 5px 7px 10px rgba(0,0,0,0.6)


}
a{
	text-decoration: none;
}
#main{
	width:1300;
}
#mainname{
	padding-bottom: 0px;
	background-image: url("/assets/bk_header.jpg");
	background-attachment: scroll;
	background-repeat: repeat-x;
}
h1#mainname a{
	color: #003376;
	text-decoration: none;
	font-family: "宋体";
}
h1#mainname .mainhref{
	float: right;
	margin-right: 200px;
	margin-top: 50px;
}
#navigation{
	float: left;
	background-attachment: scroll;
	background-color: #CEFFDE;
	background-repeat: repeat-x;
	margin-top: 2px;
}
div.all-body{
	background-color: #FFF9F9;
}
li.nav{
	float: left;
	list-style: none;
	width: 136px;
	height: 36px;
	text-align: center;
	color: green;
	padding-top: 5px;
	background-image: url("/images/nav.jgp");
	background-attachment: scroll;
	background-repeat: repeat-x;
}
li a{
	text-decoration: none;
}
li.nav:hover{
	background-color: #9F99FF;
	background-attachment:scroll;
	border-radius: 8px;
}

.content{
	background-color: #F4FFFF;
	width: 800px;
	border-radius: 12px;
	box-shadow: 6px 6px 6px rgba(0,0,0,0.6);
}
.content ul{
	width:760px;
	height:500px;
	list-style:none;
}
div#indx-body{
	margin-bottom:5px;
}
div#index-main{
	
	float: right;
	border:1px solid yellow;
	word-break:break-all;
	width:780px;
	font-weight: large;
	font-size: 20px;
	line-height: 20px;
	color:blue;
	font-family: serif;

}
li#aboutimg{
	float: left;
	text-align: center;
	width: 400px;
	height: 300px;
	margin-left: 100px;
}

div#aboutvideo{
	width: 600px;
	height: 500px;
	border-radius: 12px;
	border-style: bolid blue;
	margin-left: 100px;
}
div#side{
	float: left;
	width: 12em;
	background-color: #CCDDFF;
	padding-bottom: 12em;
	padding-top: 1em;
	padding-left: 1em;
}
div.clear{
	clear:both;
}
img.cur-hide{
	display: none;
}
.menu{
	width:800px;
	height:34px;
}
.menu-ul{
	list-style:none;
	width:720px;
	height:34px;
	margin:0 auto;
}
.menu li{
	background:url("/images/header_tabs.png") repeat-x;
	background-position:214px 0;
	display:block;
	float:left;
	width:215px;
	height:34px;
	cursor:pointer;
}
.menu span{
	font:bold 22px Verdana,Geneva,sans-serif;
	color:#FFE;
	display:block;
	line-height:34px;
	text-align:center;
	text-shadow:2px 2px 2px #555;
	letter-spacing:4px;
}
.current span{
	color:#000;
	background:#4F2;
	border-radius:12px;
	text-shadow:2px 2px 2px #FFF;
}
.container{
	width:800px;
	height:700px;
	margin:50px auto 0;
}


div#footer{
	text-align: center;
	margin-bottom: 3px;
}
div.edit-man-doctor{
        width: 500px;
        margin-left: 300px;
}

div#register_form{
        width: 500px;
}
#scrollBox2{
	font-size:21px;
	width:500px;
	color:#0000CC;
	font-weight:600;
	line-height:22px;
	height:66px;
	overflow:hidden;
	text-align:left;
	margin-left: 120px;
	border-style: double;
	border-color: #CC99FF;
}
div.abouttxt-head h3{
	font-size:22px;
	text-indent: 10em;
}
div.abouttxt-head p{
	font-size:15px;
	text-indent: 20em;
}
div.healthtext{
	margin-bottom: 20px;
}
div.display-tips{
	color:red;
}
div.hide-tips{
	display:none;
}
div.content-body{
	margin-left: 100px;
}
div.content-body .show_image{
	height: 100px;
	width: 100px;
}
div.indexer p{
	margin-left: 30px;
}
div.diagnose h2{
	color: #338822;
	font-size: 150%;
	font-family: monospace;
}
div.diagnose{
	margin-left: 220px;
	padding-top: 5em;
}
.button{
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.search_first{
	color: #2244EE;
	font-weight: bold;
	font-size: 90%;  
	padding: 5px;  
	padding-top: .55em;
	padding-bottom: .55em;
	margin: 10px;  
	outline: none;  
	overflow:hidden;  
	border-radius: 5px;  
	background: #fafafa;  
	border: 1px solid #ddd;  
	-moz-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.1);  
	-webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.1);  
	box-shadow: inset 1px 1px 10px rgba(0,0,0,0.1);  
	-webkit-transition: all .3s;  
	-moz-transition: all .3s;  
	-o-transition: all .3s;  
	width: 150px;  

}
.search_first:focus{  
    width: 230px;  
}  
.search_first_submit:hover{
	position: relative;
	top: 1px;
}
.search_first_submit{
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;

	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

	color: #e8f0de;
	border: solid 1px #538312;
	background: #64881e;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
           
}
#research{
}
/* paginate*/

.apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default;
    margin-bottom: 3em;
}

.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
    color: #aaaaaa;
}

.apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
    text-decoration: none;
    color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline;
}

 /**/
 #ask_sym{
 	margin-top: 10px;
 	padding: 7px 0.25em 2em 20%;
 	border-style: solid;
 	border-color: red;
 }
 #ask_sym p{
 	color: red;
 	font-size: 140%;
 }
 #ask_sym h1{
 	font-size: 200%;
 	text-indent: 5em;
 	}
.yes-or-no{
 	border-radius: 1em;
 	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	padding: .5em 2em .55em;

	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

	color: #e8f0de;
	border: solid 1px #538312;
	background: #64881e;	
 }
.yes-or-no a{
	color: red;
}