body{
	background-color: #EEEEFF;
}
div#main{
	width:1300;
}
#mainname{
	padding-bottom:0px;
	margin-bottom:0px;
	margin-left:200px;
	margin-right:200px;
	background-image:url("/images/bk_header.jpg");
	background-attachment:scroll;
	background-repeat:repeat-x;
}
#register{
	margin-left:250;
	font-size:80%;
}
#login{
	margin-left:5;
	margin-right:5;
	font-size:80%;
}
#navigation{
	margin-left:200px;
	margin-right:200px;
	float:left;
	background-image:url("/images/nav.jpg");
	background-attachment:scroll;
	background-repeat:repeat-x;
}
li.nav{
	float:left;
	list-style:none;
	margin-right:20px;
	width:100px;
	height:36px;
	text-align:center;
	color:green;
	padding-top:15px;
	background-image:url("/images/nav.jpg");
	background-attachment:scroll;
	background-repeat:repeat-x;
}
li a{
	text-decoration:none;
}
li.nav:hover{
	background-image:url("/images/hovernav.jpg");
	background-attachment:scroll;
	background-repeat:repeat-x;
	}
.container{
	background:url("/images/bg_tilt.jpg");
	width:800px;
	height:534px;
	margin:50px auto 0;
}
.menu{
	width:800px;
	height:34px;
}
.menu-ul{
	list-style:none;
	width:720px;
	height:34px;
	margin:0 auto;
}
.menu li{
	background:url("/images/header_tabs.png") repeat-x;
	background-position:214px 0;
	display:block;
	float:left;
	width:215px;
	height:34px;
	cursor:pointer;
}
.menu span{
	font:bold 22px Verdana,Geneva,sans-serif;
	color:#FFE;
	display:block;
	line-height:34px;
	text-align:center;
	text-shadow:2px 2px 2px #555;
	letter-spacing:4px;
}
.current span{
	color:#000;
	background:#4F2;
	border-radius:12px;
	text-shadow:2px 2px 2px #FFF;
}
.content{
	background:#F9F9F9;
	width:800px;
	height:500px;
	border-radius:12px;
	box-shadow:6px 6px 6px rgba(0,0,0,0,6);
}
.content ul{
	width:760px;
	height:500px;
	list-style:none;
}
.content li{
	float:left;
	width:960px;
	height:500px;
	margin-left:20px;
	display:block;
}
.content img{
	float:left;
	width:620px;
	margin:20px 30px;
}
.health-img{
	width:920px;
	height:320px;
	margin:1px 0px;
}
.health-text{
	margin:3px 5px;
}
table#mainbody{
	margin-left:40px;
}
td#inform{
	border:1px solid blue;
	word-break:break-all;
	width:300;
}
td#main{
	border:1px solid blue;
	word-break:break-all;
	width:700;
	font-weight:large;
	font-size:20px;
	line-height:20px;
	color:blue;
	font-family:宋体;
}
td#question{
	border:1px solid blue;
	word-break:bread-all;
	width:300;
}
li#about{
	list-style:none;
}
li#aboutimg{
	float:left;
	margin-right:20px;
	border:1px solid blue;
	text-align:center;
	width:400px;
	height:300px;
}
li#news{
	list-style:none;
}
ul#aboutmain li{
	list-style:none;
}
ul#newsmain li{
	list-style:none;
}
ul#newsmain li:before{
	content:url("/images/hot.jpg");
}
div#footer{
text-align:center;

}
img.cur-hide{
	display:none;
}
div.clear{
	clear:both;
}
div.display-tips{
	color:red;
}
div.hide-tips{
	display:none;
}
div.lable{
	float:left;
	margin-left:20;
	margin-right:5px;
	width:100;
	text-align:right:
}
div.edit-man-doctor{
	width: 500px;
	margin-left: 300px;
}

div#register_form{
	width: 500px;
}
div.content-body{
	margin-left: 300px;

}
