
<!DOCTYPE html>
<meta NAME="Description" CONTENT="wilxn,健康，诊断，评价"/>
<head>
	<title>Peck</title>
	<%= stylesheet_link_tag "peck" ,:media => "all" %>
	<%= javascript_include_tag "scrollText" %>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="main">
		<div id="maintitle">
			<h1 id="mainname">
				<img src="/assets/icc.jpg" height=133 width=100 alt="Peck">
				<img src="/assets/logo-text.jpg" height=133 width=300 alt="Peck">
				<div class="mainhref">
				<a href="/men/new">注册</a>
				<a href="/login">登录</a>
				</div>
				
			</h1>
		</div>
		<div>
			<ul id="navigation">
				<li class = "nav"><a href = "/user/index">首页</a></li>
				<li class = "nav"><a href = "/user/diagnose">预诊断</a></li>
				<li class = "nav"><a href = "/user/medicine">药品查询</a></li>			
		            	<li class = "nav"><a href = "/user/evaluate">诊断评价</a></li>
	                		<li class = "nav"><a href = "/user/health">健康生活</a></li>
          		    		<li class = "nav"><a href = "/user/jobs">人才招聘</a></li>
        	    			<li class = "nav"><a href = "/user/contact_us">联系我们</a></li>
			</ul>
		</div>
	</div>
	<div class="all-body">
	<%= yield %>
	</div>
	<div id="footer">
		<p>版权所有东南大学-生物科学与医学工程学院 All Rights Reserved</p>
	</div>
</body>
